---
import Main from '../../layouts/Main.astro';
import Card from '../../components/Card.astro';
import "bootstrap/dist/css/bootstrap.min.css";

const hero = {
    head: "Book Gallery",
    description: "Explore my Book collection."
}
---

<Main head={hero.head} description={hero.description}>
    <div class="row g-4 position-relative" id="gallery">   
    <Card title="Creativity of Aerodynamic" image="../../img/book/creativity-of-aerodynamic.jpg" category="book" href="#" />
    <Card title="Le mans Book" image="../../img/book/le-mans-book.png" category="book" href="#" />
    </div>
</Main>