---
import Main from '../../layouts/Main.astro';
import Card from '../../components/Card.astro';
import "bootstrap/dist/css/bootstrap.min.css";

const hero = {
    head: "Poster Gallery",
    description: "Explore our curated collection of stunning posters."
}
---

<Main head={hero.head} description={hero.description}>
    <div class="row g-4 position-relative" id="gallery">   
    <Card title="Watch Advertisement" image="../../img/poster/Watch-Advertisement.jpg" category="poster" href="/the.gallery/gallery/poster/watch-advertisement" />
    <Card title="Seminar Poster" image="../../img/poster/Seminar-Poster.png" category="poster" href="#" />
    <Card title="Art Nouveau Poster" image="../../img/poster/Art-Nouveau-Poster.png" category="poster" href="#" />
    <Card title="Alone in the Grey" image="../../img/poster/alone-in-the-grey.png" category="poster" href="#" />
    <Card title="Alley 7" image="../../img/poster/Alley7.png" category="poster" href="#" />
    </div>
</Main>