---
import Main from '../../../layouts/Main.astro';
import Card from '../../../components/Card.astro';
import "bootstrap/dist/css/bootstrap.min.css";

const hero = {
    head: "Poster Gallery",
    description: "Explore our curated collection of stunning posters."
}
---

<Main head={hero.head} description={hero.description}>
    <div class="row g-4 position-relative" id="gallery">   
    <Card title="Poster Item" image="../../img/blank.jpg" category="poster" href="#" />
    <Card title="Poster Item" image="../../img/blank.jpg" category="poster" href="#" />
    <Card title="Poster Item" image="../../img/blank.jpg" category="poster" href="#" />
    </div>
</Main>