---
import Main from "../../../layouts/Main.astro";
import Poster1 from "../../../components/Poster1.astro";
import "bootstrap/dist/css/bootstrap.min.css";
---
<Main head="WATCH ADVERTISEMENT" description="A poster design for a watch advertisement.">
    <Poster1 
        img="../../img/poster/Watch-Advertisement.jpg"
        name="WATCH ADVERTISEMENT"
        idea="This poster design was created for a watch advertisement 'realme watch 2'. Design inspired by the concenpt of simplestness with hte fewest information possible but viewer can still understand the product without having to read to much text. The main focus of the poster is the watch that fits with style of wearer, and leaving the backgroung white with only important text."
        date="Mar 18, 2024"
    />
</Main>
